<div class="container-fluid bg1">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 tab">
      <h1> DashBoard2 </h1>
      <hr>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>JobType</th>
                <th>one</th>
                <th>two</th>
                <th>three</th>
                <th>four</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="r in m.row">
                <td>{{r.jobType}}</td>
                <td>{{r.a1}}</td>
                <td>{{r.b1}}</td>
                <td>{{r.c1}}</td>
                <td>{{r.d1}}</td>
              </tr>
            </tbody>
          </table>
       </div>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>
